<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Chatix</title>
    <link rel="stylesheet" href="css/chat.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
</head>
<body>
    <div class="container">
        <div class="options-menu">
            <div class="options-menu-header">
                <p>Opções</p>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            </div>
            <ul>
                <li>Mudar nome</li>
                <li>Mudar avatar</li>
                <li id="logout-button">Sair</li>
            </ul>    
        </div>
        <aside id="sidebar">
            <div class="user-information">
                <div class="user-photo-wrapper">
                    <img src="img/user-photos/<%= avatar %>.png" alt="your-photo!">
                </div>
                <p><%= user %></p>
            </div>
            <div class="users-list">
            </div>
        </aside>
        <main id="chat">
            <div class="chatroom-header">
                <svg id="sidemenu-button" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
                <p>CHATIX.COM.BR</p>
                <svg id="options-button" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
            </div>
            <div class="chat-area"></div>
            <div class="write-space-wrapper">
                <form id="send-message-form">
                    <input type="text" id="messageContent" autocomplete="off">
                    <button type="submit">
                        <img src="img/Triangle.svg" alt="">                          
                    </button>
                </form>
            </div>
        </main>
    </div>
    <script src="moment.min.js"></script>
    <script type="text/javascript">
        const socket = io.connect('http://chatix.com.br', { query: 'name=<%= user %>&avatar=<%= avatar %>'});
        const username = '<%= user %>';
        const avatar = '<%= avatar %>';

        socket.on('directConnection', users => {
            // renderUsersCounter(users.usersCounter);
            renderUsersList(users.users)
        });
        socket.on('newUser', user => renderNewUser(user));
        socket.on('userDeslogged', data => renderUserLogout(data));
        socket.on('newMessage', message => {
            renderForeignMessage(message);
        });
        
        function scrollBottom() {
			const chat = $('.chat-area');
			chat.scrollTop(chat[0].scrollHeight);
        }

        function renderUsersCounter(counter) {
            $('.chatroom-header p').text('Online: ' + counter);
        }

        function renderUsersList(list){
            $('.users-list').empty();
            
            for(user in list){
                if(user != username){
                    $('.users-list').append(`
                        <div class="foreign-user">
                            <div class="foreign-user-photo-wrapper">
                                <img src="img/user-photos/${list[user].avatar}.png" alt="">
                            </div>
                            <p>${user}</p>
                        </div>
                    `)
                }
            }
        }
        
        function renderNewUser(user){
            $('.chat-area').append(`
                <div class="message">
                    <div class="alert">
                        <p><strong>${user.name}</strong> entrou do chat!</p>
                    </div>
                </div>
            `);
            // renderUsersCounter(data.users.length);
            renderUsersList(user.users.data);
            scrollBottom();
        }

        function renderUserLogout(data){
            $('.chat-area').append(`
                <div class="message">
                    <div class="alert">
                        <p><strong>${data.name}</strong> saiu do chat!</p>
                    </div>
                </div>
            `);
            // renderUsersCounter(data.users.length);
            renderUsersList(data.users.data);
            scrollBottom();
        }

        function renderMessage(message){
            $('.chat-area').append(`
                <div class="message local">
                    <div class="local-baloon">
                        <p class="local-message-time">${moment().format("hh:mma")}</p>
                        <p class="local-message">${message.content}</p>
                    </div>
                </div>
            `);
            scrollBottom();
        };

        function renderForeignMessage(message){
            $('.chat-area').append(`
                <div class="message">
                    <div class="foreign-baloon">
                    <div>
                        <p class="foreign-username">${message.username}</p>
                        <p class="foreign-message">${message.content}</p>            
                    </div>
                    <p class="foreign-time">${message.time}</p>
                    </div>
                </div>
            `);
            scrollBottom();
        }

        $('#send-message-form').submit(function(event){
            event.preventDefault();

            const message = $('#messageContent').val();

            if(message.length){

                const messageObj = {
                    username,
                    content: message,
                    time: moment().format("hh:mma")
                };

                renderMessage(messageObj);
                $('#messageContent').val('');
                socket.emit('sendMessage', messageObj);
            }else{
                alert('Escreva algo!');
            }
        })
    </script>
    <script type="text/javascript">
        const sidebar = $('#sidebar');
        const menu_button = $('#sidemenu-button');
        const options_menu = $('.options-menu');
        const close_options_button = $('.options-menu svg');
        const open_options_button = $('#options-button');
        const chat = $('#chat');
        const user_name = $('.user-information p');
        let open = false;

        const logoutButton = $('#logout-button');
        logoutButton.click(async function(event){
            event.preventDefault();

            fetch('/logout')
            .then(response => {
                if (response.ok)
                    window.location.href = '/chat';
            })
            .catch(err => console.error(err));
        })

        sidebar.click(function(){
            if(!open){
                sidebar.addClass('open');
                open = true;
            }else {
                sidebar.removeClass('open');
                open = false;
            }
        });

        menu_button.click(function(){
            if(!open){
                sidebar.addClass('open');
                open = true;
            }else {
                sidebar.removeClass('open');
                open = false;
            }
        });

        open_options_button.click(function(){
            options_menu.addClass('open-options-menu');
        });

        close_options_button.click(function(){
            options_menu.removeClass('open-options-menu');
        });
    </script>
</body>
</html>